.login-container{
    position: relative;
    background-color: #3D405B;
    height: 100vh;
}

.login-form{
    position: absolute;
    width: 50rem;
    height: 36rem;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    font-size: 1.4rem;
    background: white;
    box-shadow: var(--modal-shadow-2);
    border-radius: 15px;
}

.title{
    text-align: center;
}

.login-input{
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-box{
    color:black;
}

.login-input .form__input{
    margin-bottom:2.5rem;
    font-size:inherit;
}

.btn-login{
    width:10rem;
    height: 4rem;
    margin-bottom:3rem;
    background-color: #AACBBA;
    color:black;
    border-radius: 10px;
    font-weight: bold !important;
}

.btn-login:hover{
    background-color: bisque;
}

@media only screen and (max-width: 35em) {
    /* 35em = 560px */
    .login-form {
      background-color:#3D405B;
      box-shadow: none;
      width: 100%;
      padding: 5rem;
    }
}