.project-wise-report{
    display:flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}
.project-wise-header-right{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
}
.project-table th{
    background-color: #AACBBA;
}
@media only screen and (max-width: 62em) {
    .project-wise-report{
        display: block;
    }
    .back-icon{
        display: flex;
    }
}