/* .selected-tag{
    display:flex
}

.tag-container{
    border:2px solid #F3CF96;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   height: 4vh;
   margin-right: 5px;
   margin-left: 5px;
   border-radius: 50px 50px 
}  */
.date-box {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 0.5rem;
    border: var(--secondary-border);
    border-radius: 8px;
    height: 3.8rem;
    font-size: 1.3rem;
    width:18rem;
    margin-top: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.date-box input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    color: black;
}
.select-box {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 0.5rem;
    border: var(--secondary-border);
    border-radius: 8px;
    height: 3.8rem;
    font-size: 1.3rem;
    width:18rem;
    margin-top: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
}
.select-box input {
    height: 100%;
    width: 100%;
}


