.sidebar-top-container{
    position: absolute;
    left: 0;
    width:100%;
    padding:1rem;
}
.sidebar-top-links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 1rem;
    font-size: 22px;
    font-weight: 500;
}

.top-link-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: inherit;
    position: relative;
    padding: 8px;
    border-radius: 8px;
    fill: var(--text-white-color);
    color: var(--text-white-color);
    
}
.side-icon{
    margin-left: 8px;
}

.top-link-item:hover {
    transition: background-color 300ms ease-in-out;
    background-color: #D3D4DA;
    fill: var(--text-white-color);
    color: var(--text-white-color);
}

.top-link-item-active {
    background-color: white;
    fill: var(--text-black-color);
    color: var(--text-black-color);
}

  
  .top-link-item::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    width: 10px; 
    background-color: transparent; 
    transition: background-color 0.3s ease;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .top-link-item-active::after {
    background-color: #EDB1A1;
  }
