.sidebar-outer{
    background-color: #3D405B;
    min-width: 242px;
    border-radius: 24px;
    margin :10px
}

.sidebar{
    position: relative;
    width:100%;
    padding:1.5rem;
    padding-top: 1rem;
    min-height: 100vh;
    color: white;
}
.sidebar-outer::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

.logo{
    height:5rem;
}
.horizontal-line{
    width: 100%;
    border: 2px solid #F3CF96;
}