.sidebar-top-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    padding:1.5rem;
    padding-bottom: 1rem;
}
.sidebar-top-links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 1rem;
    /* font-size: 1.6rem; */
    font-size: 22px;
    font-weight: 500;
}

.top-link-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: inherit;
    padding: 8px;
    border-radius: 8px;
    fill: var(--text-white-color);
    color: var(--text-white-color);
}

.top-link-item:hover {
    transition: background-color 300ms ease-in-out;
    background-color: #D3D4DA;
    /* fill: var(--text-black-color); */
    color: var(--text-white-color);
}

.top-link-item:focus{
    background-color: white;
    fill: var(--text-black-color);
    color: var(--text-black-color);
}


.top-link-item-active {
    background-color: white;
    fill: var(--text-black-color);
    color: var(--text-black-color);
}