.modal-container{
    border-radius: 48px !important;
    width: 50%;
}
.add-project-header{
    display: flex;
    justify-content: space-between;
    fill:#3D405B;
}
.add-title-container{
    display: flex;
    color: black;

    align-items: center;
}
.add-title{
    color: black;
    margin-left: 20px;
    font-weight: 700;
    font-size: 57px;
}
.project-input{
    display: flex;
    color: black;
    padding: 1rem;
    font-weight: bold;
    font-size: 16px;

}
.project-input-box{
    width: 35rem;
    margin-left: 50px;
    color: black;
    
}
.project-tags {
    width: 20%;
    padding-top: 2rem;
}
.save-button{
    display: flex;
    justify-content: flex-end;
}
.tag{
    position: absolute !important;
}

.selected-tag{
    display:flex
}

.tag-container{
    border:2px solid #F3CF96;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   height: 4vh;
   margin-right: 5px;
   margin-left: 5px;
   border-radius: 50px 50px 
} 

.add-project-tags{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 52em) {
    /* 52em = 832px */
    .add-project-modal {
      left: 0 !important;
      right: 0 !important;
      top: 50% !important;
      bottom: 0 !important;
      height: 100%;
      width: 100% !important;
      border-radius: 0 !important;
      animation: event-modal-anime 0.5s ease;
    }
    .add-title{
        font-size: 42px !important;
    }
    .add-project-tags{
        display: block;
    }
    .add-project-save{
        margin-top: 50px;
    }
  }
  @media only screen and (max-width: 23em) {
    .add-project-modal{
        top:50% !important;
    }
  }